#footer {
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
}

#footer-content {
    font-size: 3vw;
    font-weight: 100;
    margin-right: 2vw;
    padding: 0;
    padding-top: 2vh;
}

#themes {
    display: flex;
}

#theme {
    margin: 2vh;
    max-width: 50px;
    max-height: 50px;
    width: 5vw;
    height: 5vh;
    border-radius: 20%;
    border: 1px solid white;
}

#toggle-button {
    padding-top: 0.5vh;
}

#toggle-button > button {
    margin: 2vh;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid white;
}